/*body {
    margin: 0px;
    padding: 0px;
    background-image: url(../img/sea.avif);
    background-size: cover;
    background-repeat: no-repeat;
}*/
#background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    width: 200px;
    height: 200px;
}

#container {
    position: relative;

}

#logo {
    position: absolute;
    top: 35vh;
    left: 40vw;
    width: 300px;
    height: 300px;
}

#doubleRedFish {
    position: absolute;
    top: 20vh;
    left: 63vw;
    z-index: 2;
}

#creteFish {
    position: absolute;
    top: 8vh;
    left: 47vw;
}

#creteFish {
    position: absolute;
    top: 8vh;
    left: 47vw;
}

#longNoseFish {
    position: absolute;
    top: 8vh;
    left: 30vw;
}

#seiche {
    position: absolute;
    top: 20vh;
    right: 65vw;



}

#yellowFish {
    position: absolute;
    top: 55vh;
    right: 65vw;
}

#greenFish {
    position: absolute;
    top: 75vh;
    left: 30vw;
    z-index: 2;
}

#turtle {
    position: absolute;
    top: 75vh;
    left: 47vw;
}

#whiteFish {
    position: absolute;
    top: 55vh;
    left: 63vw;
}

#bulle {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 13vh;
    left: 3vw;
    opacity: 0;
}

#encre {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 69vw;
    top: 65vh;
    opacity: 0;

}